body{

  background-color: black;

}


h1{
  color:white;
  text-align: center;
}

td{
  height:80px;
  width: 80px;
  text-align: center;
  color:white;
}

td.one{

  background-color: white;

}

td.two{

  background-color:rgb(91, 132, 215); /*rgb(45,92,160);*/

}

table{
  border-collapse: collapse;
  margin: 0 auto;
}

img{

  height:64px;
  width: 64px;
}
